@charset "utf-8";
/* CSS Document */
html, body{
	padding: 0px;
	margin: 0px;
	//background-image: url("../Screenshot_2bg.png");
  	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #000;
	height: 100%;
}
#outPut{
	height:900px;
	width: 100%;
	
}
.fixed{
	position: fixed!important;
  top:0!important; left:0!important;
  //width: 100%; 
	z-index: 99!important;
	 //background-color: rgba(82,238,226,.8)!important;
    //background-color: slategray!important;
    background-color: #0e2032b0!important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-bottom: solid #52eee2;
}

#carSelectBar{
	max-height:"80px";
	min-width: 100%;
	//background-color:brown;
	background-color: rgba(.2,.2,.2,.4);
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 0;
	display: flex;
	justify-content: flex-end;
    align-items: flex-end;
	max-height:30px;
	left:0;
	right: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	top:70px;
	color:white;
}


#customerStats{
	display:block;
	//background-color:purple;
	max-height:30px;
	height:30px;
	min-width: 680px;
	margin-right:0px;
}

#customerInfoEdit{
	display: inline;
	//background-color:blue;
	width: 50px;
	height:30px;
	font-size: calc(10px + .2vw);
	color:antiquewhite;
	
}
#carType{
	display: inline;
	//background-color:green;
	width: 50px;
	height:30px;
}


#zipCode{
	display: inline;
	//background-color:blue;
	width: 50px;
	height:30px;
}
.zipCodeError{
	text-decoration:red wavy underline;
	
}

#distCharge{
	display: inline;
	width:100px;
	height:30px;
	
}
#distFee{
	display: inline;
	//background-color:gray;
	height:30px;
	margin-right: 5vw;
	color: #959595;
}
.distFeeSpecial{
	font-weight: bold;
	color:#B718B6!important;
	
}
#carSelect{
	color: #52eee2;
}
#zipInput{
	color:#b9b498;
	width:100px;
}
#carSelect, #zipInput{
	background-color:transparent;
	border: 0px solid ;
	min-height:100%;
	padding: 0px;
	margin: 0px;
	//height:30px;
	font-weight: bold;
	
}
#carSelect:focus, #zipInput:focus{
	background-color:white;
	color:#000;
}



@media only screen and (max-width:640px){
	
#carSelectBar{
	//max-height:180px;
	min-width: 100%;
	//background-color:brown;
	background-color: rgba(.2,.2,.2,.4);
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 0;
	display: block;
	justify-content: flex-end;
    align-items: flex-end;
	min-height:100px;
	left:0;
	right: 0;
	padding-top: 0px;
	padding-bottom: 4px;
	top:70px;
	color:white;
}


#customerStats{
	display:block;
	//background-color:purple;
	max-height:80px;
	height:50px;
	min-width: 380px;
	margin-left:50px;
}

#customerInfoEdit{
	display: inline;
	//background-color:blue;
	width: 50px;
	height:30px;
	font-size: calc(10px + .2vw);
	color:antiquewhite;
	
}
#carType{
	display: inline;
	//background-color:green;
	width: 50px;
	height:30px;
}


#zipCode{
	display: block;
	//background-color:blue;
	width: 200px;
	height:30px;
}
#zipInput{
	color:#b9b498;
	width:80px;
	display: inline;
}
.zipCodeError{
	text-decoration:red wavy underline;
	
}

#distCharge{
	display: inline;
	width:200px;
	height:30px;
	
}
#distFee{
	display: inline;
	//background-color:gray;
	height:30px;
	margin-right: 5vw;
	color: #959595;
}
.distFeeSpecial{
	font-weight: bold;
	color:#B718B6!important;
	
}
#carSelect{
	color: #52eee2;
	display:inline;
}

#carSelect, #zipInput{
	background-color:transparent;
	border: 0px solid ;
	min-height:100%;
	padding: 0px;
	margin: 0px;
	//height:30px;
	font-weight: bold;
	
}
#carSelect:focus, #zipInput:focus{
	background-color:white;
	color:#000;
}
}
